<!DOCTYPE html>
<html>
	<head>
	<title>Joshua Keiser - Layout Test</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
			<h1>Simple 2 column CSS layout, final layout</h1>

			<div id= 'csslayout'>
				<ul>
					<li><a href="">Option 1</a></li>
					<li><a href="">Option 2</a></li>
					<li><a href="">Option 3</a></li>
					<li><a href="">Option 4</a></li>
					<li><a href="">Option 5</a></li>
				</ul>
			</div>
	<div class='container'>
		<div id='col1'>
			<h2> Column 1</h2>
			<p><a href="http://jzkeiser.github.io/layout/index.html">456 Berea Street Home</a></p>
			<p><a href="http://jzkeiser.github.io/layout/index.html">Simple 2 Column CSS Layout</a></p>

<p>Jelly beans pie lemon drops macaroon marshmallow gummies chocolate jelly-o pudding. Sesame snaps topping candy jelly-o sweet soufflé. Danish toffee oat cake bear claw macaroon tiramisu oat cake sugar plum. Chupa chups gingerbread apple pie dessert. Jelly-o brownie sweet cake liquorice dragée muffin danish dessert. Danish bear claw halvah pie lollipop. Sweet roll chocolate soufflé icing candy canes caramels ice cream jujubes. Candy canes candy canes jelly beans cupcake.</p>

<p>Candy canes gummies danish icing chupa chups. Bonbon toffee tiramisu oat cake. Chocolate bar croissant oat cake liquorice muffin bear claw. Danish tiramisu candy canes chocolate cake candy canes cotton candy chupa chups jelly beans. Sesame snaps tiramisu tart pudding danish. Brownie lollipop brownie powder bonbon. Lollipop pastry chocolate cake oat cake. Chupa chups cake jelly-o marshmallow danish. Toffee bonbon cookie fruitcake jujubes dessert dessert apple pie pie. Jelly beans pudding gummies pastry. </p>
			
<p>Candy canes candy canes pastry cheesecake dessert lemon drops. Sugar plum macaroon lollipop liquorice. Liquorice toffee caramels jujubes chocolate cake oat cake. Bear claw lollipop biscuit danish ice cream cake. Jelly-o candy apple pie macaroon sweet bonbon candy jujubes lemon drops. Danish apple pie muffin sugar plum toffee bear claw.
</p>
		</div>
		<div id='col2'>
			<h2> Column 2</h2>
			<p>Cupcake ipsum dolor sit amet dessert jelly-o pastry cookie. Danish lollipop jelly beans jelly beans cotton candy pudding. </p>

			<li><a href="http://jzkeiser.github.io/layout/index.html">Link1</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link2</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link3</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link4</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link5</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link6</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link7</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link8</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link9</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link10</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link11</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link12</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link13</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link14</a></li>
			<li><a href="http://jzkeiser.github.io/layout/index.html">Link15</a></li>
		</div>

	</div>

	</body>

	</html>
